// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.prof-wrapper {
  max-width: 80%;
  margin: 0 auto;
}

.prof_header{
  height: 100%;
  padding: 60px 20px 0px;
  margin-bottom: 44px;
}

.username {
  color: #4b4f54;
  font-weight: 300;
  font-size: 34px;
  line-height: 40px;
}

.count{
  color: #34373b;
  font-weight: 600;
}

.prof_show {
  width: 80%;
  height: 200px;
  margin-top: 30px;
  margin-right: 28px;
}

.prof_post_box {
  margin-bottom: 50px;
}

.posts-wrapper {
  // margin: 0 auto; 
  padding: 0 20px;
}

.user_edit_button {
  margin-top: 25px;
  border-color: #818488;
  color: #818488;
}

.prof_pic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.prof_pic_small {
  border-radius: 50%;
  height: 28px;
  width: 28px;
}